.note{
position: relative;
background-image: url(circle.png);
background-repeat: no-repeat;
height: 50px;
width: 50px;
transition: all 1s;

}     

.hit-bar{
 background-color: chocolate;
 float: left;
 width:100%;
 height: 100px;
 margin-top:100%;
 border-radius: 10px;
}  

.hit-bar.lit{
background-color: chartreuse;

}
.column{
    float: left;
    width:23%;
    padding: 10px;
    height: 600px;
}
#column-0{
    background-color: #aaa;
}
#column-1{
    background-color: #bbb;
}
#column-2{
    background-color: #aaa;
}
#column-3{
    background-color: #bbb;
}
.row{
    content: '';
    display: table;
    clear: both;
}

#start-screen{
    background-color: bisque;
    border-radius: 20px;
    height: 500px;
    width: 500px;
}