.note{
position: relative;
background-image: url(circle.png);
background-repeat: no-repeat;
height: 50px;
width: 50px;
transition: all 1s;

}     

.hit-bar{
 background-color: chocolate;
 position: absolute;
 width:20%;
 height: 20px;
 border-radius: 10px;
}  

.hit-bar.lit{
background-color: chartreuse;

}
.column{
    float: left;
    width:23%;
    padding: 10px;
    height: 600px;
}
#column-0{
    background-color: #aaa;
}
#column-1{
    background-color: #bbb;
}
#column-2{
    background-color: #aaa;
}
#column-3{
    background-color: #bbb;
}
#hit-row{
    display: block;
    position: relative;
    top:500px;
    padding:50px;
}
.row{
    /* content: '';
    display: table;
    clear: both; */
}

#start-screen{
    background-color: bisque;
    border-radius: 20px;
    height: 500px;
    width: 500px;
}